PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET=mC9B3Jr8oV1T2wQ6yZ7Kp4nFq8sX0dLmN3r5uV2yA6hJ9pQ1tU
JWT_REFRESH_SECRET=K7sP1vW4xT9qR2mN8bC3fG6hJ1kL4zQ7yD2eR5tU8iO3pA6sD0
ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
ADMIN_EMAIL=abcd@gmail.com
ADMIN_PASSWORD=StrongPass!123
